<app-header></app-header>
<ng-container *ngIf="isAdminRole">
  <app-menu></app-menu>
</ng-container>

<div class="page-content-wrapper" style="background-color: #364150">
  <div class="page-content" style="min-height: 710px">
    <div class="row" style="margin: 0px;">
      <!-- BEGIN CONTENT -->
      <!-- <div class="row margin-top-20"> -->
      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
          <!-- PORTLET MAIN -->
          <div class="portlet light profile-sidebar-portlet">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img src="../../assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                {{principal.fullName}}
              </div>
              <div class="profile-usertitle-job">
                Developer
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
              <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
              <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
              <ul class="nav">
                <li>
                  <a href="extra_profile.html">
                    <i class="icon-home"></i>
                    Overview </a>
                </li>
                <li class="active">
                  <a href="extra_profile_account.html">
                    <i class="icon-settings"></i>
                    Account Settings </a>
                </li>
                <li>
                  <a href="page_todo.html" target="_blank">
                    <i class="icon-check"></i>
                    Tasks </a>
                </li>
                <li>
                  <a href="extra_profile_help.html">
                    <i class="icon-info"></i>
                    Help </a>
                </li>
              </ul>
            </div>
            <!-- END MENU -->
          </div>
          <!-- END PORTLET MAIN -->
          <!-- PORTLET MAIN -->
          <div class="portlet light">
            <!-- STAT -->
            <div class="row list-separated profile-stat">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                  37
                </div>
                <div class="uppercase profile-stat-text">
                  Projects
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                  51
                </div>
                <div class="uppercase profile-stat-text">
                  Tasks
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                  61
                </div>
                <div class="uppercase profile-stat-text">
                  Uploads
                </div>
              </div>
            </div>
            <!-- END STAT -->
            <div>
              <h4 class="profile-desc-title">About Marcus Doe</h4>
              <span class="profile-desc-text"> Lorem ipsum dolor sit amet diam nonummy nibh dolore. </span>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-globe"></i>
                <a href="http://www.keenthemes.com">www.keenthemes.com</a>
              </div>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-twitter"></i>
                <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
              </div>
              <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-facebook"></i>
                <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
              </div>
            </div>
          </div>
          <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
          <div class="row">
            <div class="col-md-12">
              <div class="portlet light">
                <div class="portlet-title tabbable-line">
                  <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                    </li>
                    <li>
                      <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                    </li>
                    <li>
                      <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                    </li>
                    <li>
                      <a href="#tab_1_4" data-toggle="tab">Privacy Settings</a>
                    </li>
                  </ul>
                </div>
                <div class="portlet-body">
                  <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                      <form role="form" method="POST" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
                        <input [(ngModel)]="principal.id" name="id" value={{principal.id}} class="hidden" />
                        <div class="form-group">
                          <label class="control-label">Tên khách hàng</label>
                          <input name="fullName" [(ngModel)]="principal.fullName" type="text" placeholder="Enter your full name"
                            class="form-control" value={{principal.fullName}} #fullName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }"
                            required />
                        </div>
                        <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
                          <div *ngIf="fullName.errors.required" style="color:red;">(*) Tên khách hàng là bắt buộc</div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-8">
                            <label class="control-label">Ngày sinh</label>
                            <input id="dob" name="dateOfBirth" type="text" placeholder="25/03/1997" class="form-control"
                              value='{{principal.dateOfBirth|date : format : "dd/MM/yyyy"}}' />

                          </div>
                          <div class="col-md-4">
                            <label class="control-label">Giới tính</label>
                            <select class="col-md-12 form-control" [(ngModel)]="principal.sex" name="sex">
                              <option [value]="1">Nam</option>
                              <option [value]="0">Nữ</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Điện thoại</label>
                          <input name="phone" [(ngModel)]="principal.phone" type="text" placeholder="+1 646 580 DEMO (6284)"
                            class="form-control" value={{principal.phone}} #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                            required />
                        </div>
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                          <div *ngIf="phone.errors.required" style="color:red;">(*) Điện thoại là bắt buộc</div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">E-mail</label>
                          <input name="email" [(ngModel)]="principal.email" type="text" placeholder="email@example.com"
                            class="form-control" value={{principal.email}} #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                            required />
                        </div>
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                          <div *ngIf="email.errors.required" style="color:red;">(*) E-mail là bắt buộc</div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Địa chỉ</label>
                          <input name="address" [(ngModel)]="principal.address" type="text" placeholder="71 Tân Lập 1, phường Hiệp Phú, quận 9, TP.HCM"
                            class="form-control" value={{principal.address}} #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
                            required />
                        </div>
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                          <div *ngIf="address.errors.required" style="color:red;">(*) Địa chỉ là bắt buộc</div>
                        </div>
                        <div class="margiv-top-10">
                          <button href="#" class="btn green-haze" type="submit">
                            Save Changes </button>
                          <a href="#" class="btn default">
                            Cancel </a>
                        </div>
                      </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                      <p>
                        Cập nhật hình đại diện.
                      </p>
                      <form role="form" method="POST" (ngSubmit)="f1.form.valid && uploadImage()" #f1="ngForm"
                        novalidate>
                        <div class="form-group">
                          <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                              <ng-container *ngIf="expression; else NoImage">
                                <img src={{principal.avatar}} alt="" />
                              </ng-container>
                              <ng-template #NoImage>
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                              </ng-template>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                            </div>
                            <div>
                              <span class="btn default btn-file">
                                <span class="fileinput-new" (click)="fileInput.click()">
                                  Select image </span>
                                <span class="fileinput-exists" (click)="fileInput.click()">
                                  Change </span>
                                <input type="file" name="avatar" (change)="onChangedImage($event)" #fileInput>
                              </span>
                              <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
                                Remove </a>
                            </div>
                          </div>
                          <div class="clearfix margin-top-10">
                            <span class="label label-danger">NOTE! </span>
                            <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and
                              Internet Explorer 10 only </span>
                          </div>
                        </div>
                        <div class="margin-top-10">
                          <button type="submit" class="btn green-haze">
                            Submit </button>
                          <a href="#" class="btn default">
                            Cancel </a>
                        </div>
                      </form>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                      <form action="#">
                        <div class="form-group">
                          <label class="control-label">Current Password</label>
                          <input type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label class="control-label">New Password</label>
                          <input type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                          <label class="control-label">Re-type New Password</label>
                          <input type="password" class="form-control" />
                        </div>
                        <div class="margin-top-10">
                          <a href="#" class="btn green-haze">
                            Change Password </a>
                          <a href="#" class="btn default">
                            Cancel </a>
                        </div>
                      </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                      <form action="#">
                        <table class="table table-light table-hover">
                          <tr>
                            <td>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
                            </td>
                            <td>
                              <label class="uniform-inline">
                                <input type="radio" name="optionsRadios1" value="option1" />
                                Yes </label>
                              <label class="uniform-inline">
                                <input type="radio" name="optionsRadios1" value="option2" checked />
                                No </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                            </td>
                            <td>
                              <label class="uniform-inline">
                                <input type="checkbox" value="" /> Yes </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                            </td>
                            <td>
                              <label class="uniform-inline">
                                <input type="checkbox" value="" /> Yes </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                            </td>
                            <td>
                              <label class="uniform-inline">
                                <input type="checkbox" value="" /> Yes </label>
                            </td>
                          </tr>
                        </table>
                        <!--end profile-settings-->
                        <div class="margin-top-10">
                          <a href="#" class="btn green-haze">
                            Save Changes </a>
                          <a href="#" class="btn default">
                            Cancel </a>
                        </div>
                      </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROFILE CONTENT -->
      </div>
      <!-- </div> -->

      <!-- END CONTENT -->
    </div>
  </div>
</div>
<app-footer></app-footer>
